<section class="content">
    <div class="container-fluid">
        <form action="enhanced-results.html" [formGroup]="campaignOne">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Les regions</mat-label>
                                <mat-select disableRipple formControlName="type" formControlName="region">
                                    <mat-option *ngFor="let item of regions" value="{{ item.id }}">{{ item.nom }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> 
                        </div>
                        <div class="col-7">
                            <form class="example-form">
                                <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Identifant</mat-label>
                                  <input matInput #message maxlength="256" placeholder="Ex. Rakotonava " formControlName="identifiant">
                                  <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                  <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                </mat-form-field>
                              </form>
                        </div> 
                        <div class="col-2">
                            <button type="submit" mat-raised-button class="btn btn-primary" (click)="show()">Rechercher</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>